Crm/LicensingandPermitting/Defra.Lp/Azure/SharePointDocumentRelay/LogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "sharepointonline_1_Connection_Name": {
      "type": "string",
      "defaultValue": "sharepointonline"
    },
    "sharepointonline_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "wastesysops@defradev.onmicrosoft.com"
    },
    "spoSiteName": {
      "type": "string",
      "metadata": {
        "description": "SharePoint Online site name"
      }
    },
    "spoPermitLibraryGuid": {
      "type": "string",
      "metadata": {
        "description": "SharePoint Online Permit Library Guid"
      }
    },
    "metaDataLogicAppName": {
      "type": "string",
      "metadata": {
        "description": "Name of the SharePointMetdataUpdate Logic App to be called by this logic app"
      }
    }
  },
  "variables": {
    "spo": {
      "siteName": "[concat('@{encodeURIComponent(encodeURIComponent(''', parameters('spoSiteName'), '''))}')]",
      "fileUpload": "[concat('/datasets/@{encodeURIComponent(encodeURIComponent(''', parameters('spoSiteName'), '''))}', '/files')]",
      "updateFileProperties": "[concat('/datasets/@{encodeURIComponent(encodeURIComponent(''', parameters('spoSiteName'), '''))}', '/tables/@{encodeURIComponent(encodeURIComponent(''', parameters('spoPermitLibraryGuid'), '''))}', '/items/@{encodeURIComponent(body(''Upload_file_to_Application_folder_in_SharePoint'')?[''ItemId''])}/patchfileitem')]",
      "setMetaData": "[concat('/subscriptions/e716414f-1f8e-48f1-8f56-65f35cfdafb6/resourceGroups/SNDWPTDEVRGP001/providers/Microsoft.Logic/workflows/', parameters('metaDataLogicAppName'))]"
    }
  },
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Is_there_a_File_Body": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@empty(triggerBody()?['FileBody'])",
                      false
                    ]
                  }
                ]
              },
              "actions": {
                "Upload_file_to_Application_folder_in_SharePoint": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                      }
                    },
                    "method": "post",
                    "body": "@base64ToBinary(triggerBody()?['FileBody'])",
                    "path": "[variables('spo').fileUpload]",
                    "queries": {
                      "folderPath": "@{triggerBody()?['ListName']}/@{triggerBody()?['PermitNo']}/@{triggerBody()?['ApplicationNo']}/",
                      "name": "@triggerBody()?['FileName']",
                      "queryParametersSingleEncoded": true
                    }
                  },
                  "runAfter": {}
                },
                "Update_file_properties": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                      }
                    },
                    "method": "patch",
                    "body": {
                      "CRM_x0020_Record_x0020_ID": "@triggerBody()?['EmailId']",
                      "Regarding_x0020__x002d__x0020_Emails_x0020_Only": {
                        "Value": "@triggerBody()?['EmailRegarding']"
                      },
                      "Title": "@triggerBody()?['FileDescription']",
                      "{ContentType}": {
                        "@@odata.type": "#Microsoft.Azure.Connectors.SharePoint.SPListExpandedContentType"
                      }
                    },
                    "path": "[variables('spo').updateFileProperties]"
                  },
                  "runAfter": {
                    "Upload_file_to_Application_folder_in_SharePoint": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "runAfter": {
                "Create_Application_Document_Set_inside_Permit_Folder": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Set_Application_folder_metadata": {
                    "type": "Workflow",
                    "inputs": {
                      "host": {
                        "triggerName": "manual",
                        "workflow": {
                          "id": "[variables('spo').setMetaData]"
                        }
                      },
                      "body": {
                        "ApplicationNo": "@triggerBody()?['ApplicationNo']",
                        "Customer": "@triggerBody()?['Customer']",
                        "ListName": "@triggerBody()?['ListName']",
                        "PermitDetails": "@triggerBody()?['PermitDetails']",
                        "PermitNo": "@triggerBody()?['PermitNo']",
                        "SiteDetails": "@triggerBody()?['SiteDetails']",
                        "UpdateType": "Application"
                      }
                    },
                    "runAfter": {}
                  }
                }
              }
            },
            "Create_Application_Document_Set_inside_Permit_Folder": {
              "type": "Function",
              "inputs": {
                "body": {
                  "ApplicationContentType": "@{triggerBody()?['ApplicationContentType']}",
                  "ApplicationFolder": "@{triggerBody()?['ApplicationNo']}",
                  "PermitFolder": "@{triggerBody()?['PermitNo']}",
                  "ListName": "@{triggerBody()?['ListName']}",
                  "SpoSiteName": "[variables('spo').siteName]",
                  "PermitContentType": "@{triggerBody()?['PermitContentType']}"
                },
                "function": {
                  "id": "/subscriptions/e716414f-1f8e-48f1-8f56-65f35cfdafb6/resourceGroups/SNDWPTDEVRGP001/providers/Microsoft.Web/sites/LPSharePointAzureFunctions/functions/CreateDocumentSet"
                }
              },
              "runAfter": {}
            },
            "Response": {
              "type": "Response",
              "kind": "http",
              "inputs": {
                "statusCode": 200
              },
              "runAfter": {
                "Is_there_a_File_Body": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "properties": {
                    "ApplicationContentType": {
                      "type": "string"
                    },
                    "ApplicationNo": {
                      "type": "string"
                    },
                    "Customer": {
                      "type": "string"
                    },
                    "EmailId": {
                      "type": "string"
                    },
                    "EmailRegarding": {
                      "type": "string"
                    },
                    "FileBody": {
                      "type": "string"
                    },
                    "FileDescription": {
                      "type": "string"
                    },
                    "FileName": {
                      "type": "string"
                    },
                    "ListName": {
                      "type": "string"
                    },
                    "PermitContentType": {
                      "type": "string"
                    },
                    "PermitNo": {
                      "type": "string"
                    },
                    "PermitDetails": {
                      "type": "string"
                    },
                    "SiteDetails": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "method": "POST"
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "sharepointonline": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sharepointonline')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('sharepointonline_1_Connection_Name'))]",
                "connectionName": "[parameters('sharepointonline_1_Connection_Name')]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('sharepointonline_1_Connection_Name'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('sharepointonline_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sharepointonline')]"
        },
        "displayName": "[parameters('sharepointonline_1_Connection_DisplayName')]"
      }
    }
  ],
  "outputs": {}
}