Crm/LicensingandPermitting/Defra.Lp/Azure/SharePointDocumentRelay/LogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "SharePointUrl": {
      "type": "string",
      "defaultValue": "https://defradev.sharepoint.com/sites/ea-sp-lp-devwaste"
    },
    "DocumentSetAzureFunction": {
      "type": "string",
      "defaultValue": ""
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Is_there_a_File_Body": {
              "type": "If",
              "expression": "@not(equals(coalesce(triggerBody()?['FileBody'], 'Empty'), 'Empty'))",
              "actions": {
                "Is_there_a_Permit_Number_with_the_File": {
                  "type": "If",
                  "expression": "@not(equals(coalesce(triggerBody()?['PermitNo']), 'Empty'))",
                  "actions": {
                    "CreateDocumentSetInSharePoint": {
                      "type": "Function",
                      "inputs": {
                        "body": {
                          "ContentTypeName": "@{triggerBody()?['ContentTypeName']}",
                          "ListName": "@{triggerBody()?['ListName']}",
                          "PermitNo": "@{triggerBody()?['PermitNo']}"
                        },
                        "function": {
                          "id": "/subscriptions/e716414f-1f8e-48f1-8f56-65f35cfdafb6/resourceGroups/SNDWPTDEVRGP001/providers/Microsoft.Web/sites/LPSharePointDocumentRelayFunc/functions/CreateDocumentSetInSharePoint"
                        }
                      },
                      "runAfter": {}
                    },
                    "Create_file_3": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                          }
                        },
                        "method": "post",
                        "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://defradev.sharepoint.com/sites/ea-sp-lp-devwaste'))}/files",
                        "queries": {
                          "folderPath": "@{triggerBody()?['ListName']}/@{triggerBody()?['PermitNo']}",
                          "name": "@triggerBody()?['FileName']"
                        },
                        "body": "@base64ToBinary(triggerBody()?['FileBody'])"
                      },
                      "runAfter": {
                        "For_each_2": [
                          "Succeeded"
                        ]
                      }
                    },
                    "For_each_2": {
                      "type": "Foreach",
                      "foreach": "@body('Get_Document_Set_for_this_Permit')?['value']",
                      "actions": {
                        "Update_Permit_Folder_Metadata": {
                          "type": "ApiConnection",
                          "inputs": {
                            "host": {
                              "connection": {
                                "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                              }
                            },
                            "method": "patch",
                            "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://defradev.sharepoint.com/sites/ea-sp-lp-devwaste'))}/tables/@{encodeURIComponent(encodeURIComponent('Permit'))}/items/@{encodeURIComponent(items('For_each_2')?['ID'])}",
                            "body": {
                              "Permit_x0020_ID": "@triggerBody()?['PermitNo']",
                              "Permit_x0020_Number": "@triggerBody()?['PermitNo']"
                            }
                          },
                          "runAfter": {}
                        }
                      },
                      "runAfter": {
                        "Get_Document_Set_for_this_Permit": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Get_Document_Set_for_this_Permit": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                          }
                        },
                        "method": "get",
                        "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://defradev.sharepoint.com/sites/ea-sp-lp-devwaste'))}/tables/@{encodeURIComponent(encodeURIComponent(triggerBody()?['ListName']))}/items",
                        "queries": {
                          "$filter": "Title eq '@{triggerBody()?['PermitNo']}'"
                        }
                      },
                      "runAfter": {
                        "CreateDocumentSetInSharePoint": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Response_2": {
                      "type": "Response",
                      "inputs": {
                        "statusCode": 200,
                        "body": {
                          "ActivityId": null,
                          "ActivityName": null,
                          "AttachmentId": "00000000-0000-0000-0000-000000000000",
                          "AttachmentType": null,
                          "DocumentId": null,
                          "FileName": null,
                          "FileURL": null,
                          "SharePointId": "@body('Create_file_3')?['Id']"
                        }
                      },
                      "runAfter": {
                        "Update_file_properties": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Update_file_properties": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                          }
                        },
                        "method": "patch",
                        "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://defradev.sharepoint.com/sites/ea-sp-lp-devwaste'))}/tables/@{encodeURIComponent(encodeURIComponent('041a7022-c01d-46ee-801e-c628b6419348'))}/items/@{encodeURIComponent(body('Create_file_3')?['ItemId'])}/patchfileitem",
                        "body": {
                          "Title": "@triggerBody()?['FileDescription']",
                          "{ContentType}": {
                            "@@odata.type": "#Microsoft.Azure.Connectors.SharePoint.SPListExpandedContentType"
                          }
                        }
                      },
                      "runAfter": {
                        "Create_file_3": [
                          "Succeeded"
                        ]
                      }
                    }
                  },
                  "runAfter": {}
                }
              },
              "runAfter": {},
              "else": {
                "actions": {
                  "Is_there_a_Permit_Number": {
                    "type": "If",
                    "expression": "@not(equals(coalesce(triggerBody()?['PermitNo']), 'Empty'))",
                    "actions": {
                      "CreateDocumentSetInSharePoint_-_No_File": {
                        "type": "Function",
                        "inputs": {
                          "body": {
                            "ContentTypeName": "@{triggerBody()?['ContentTypeName']}",
                            "ListName": "@{triggerBody()?['ListName']}",
                            "PermitNo": "@{triggerBody()?['PermitNo']}"
                          },
                          "function": {
                            "id": "/subscriptions/e716414f-1f8e-48f1-8f56-65f35cfdafb6/resourceGroups/SNDWPTDEVRGP001/providers/Microsoft.Web/sites/LPSharePointDocumentRelayFunc/functions/CreateDocumentSetInSharePoint"
                          }
                        },
                        "runAfter": {}
                      },
                      "For_each_3": {
                        "type": "Foreach",
                        "foreach": "@body('Get_items_for_this_Permit')?['value']",
                        "actions": {
                          "Update_file_properties_2": {
                            "type": "ApiConnection",
                            "inputs": {
                              "host": {
                                "connection": {
                                  "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                }
                              },
                              "method": "patch",
                              "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://defradev.sharepoint.com/sites/ea-sp-lp-devwaste'))}/tables/@{encodeURIComponent(encodeURIComponent('041a7022-c01d-46ee-801e-c628b6419348'))}/items/@{encodeURIComponent(items('For_each_3')?['ID'])}/patchfileitem",
                              "body": {
                                "Permit_x0020_ID": "@triggerBody()?['PermitNo']",
                                "Permit_x0020_Number": "@triggerBody()?['PermitNo']"
                              }
                            },
                            "runAfter": {}
                          }
                        },
                        "runAfter": {
                          "Get_items_for_this_Permit": [
                            "Succeeded"
                          ]
                        }
                      },
                      "Get_items_for_this_Permit": {
                        "type": "ApiConnection",
                        "inputs": {
                          "host": {
                            "connection": {
                              "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                            }
                          },
                          "method": "get",
                          "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://defradev.sharepoint.com/sites/ea-sp-lp-devwaste'))}/tables/@{encodeURIComponent(encodeURIComponent(triggerBody()?['ListName']))}/items",
                          "queries": {
                            "$filter": "Title eq '@{triggerBody()?['PermitNo']}'"
                          }
                        },
                        "runAfter": {
                          "CreateDocumentSetInSharePoint_-_No_File": [
                            "Succeeded"
                          ]
                        }
                      },
                      "Response": {
                        "type": "Response",
                        "inputs": {
                          "statusCode": 200
                        },
                        "runAfter": {
                          "For_each_3": [
                            "Succeeded"
                          ]
                        }
                      }
                    },
                    "runAfter": {}
                  }
                }
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "request": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "properties": {
                    "ActivityId": {
                      "type": "any"
                    },
                    "ActivityName": {
                      "type": "string"
                    },
                    "AttachmentId": {
                      "type": "string"
                    },
                    "AttachmentType": {
                      "type": "any"
                    },
                    "ContentTypeName": {
                      "type": "string"
                    },
                    "DocumentId": {
                      "type": "any"
                    },
                    "FileBody": {
                      "type": "string"
                    },
                    "FileDescription": {
                      "type": "string"
                    },
                    "FileName": {
                      "type": "string"
                    },
                    "FileRelativeUrl": {
                      "type": "any"
                    },
                    "FileURL": {
                      "type": "any"
                    },
                    "ListName": {
                      "type": "string"
                    },
                    "Metadata": {
                      "properties": {
                        "Fields": {
                          "type": "array"
                        },
                        "ListName": {
                          "type": "any"
                        }
                      },
                      "type": "object"
                    },
                    "Operation": {
                      "type": "string"
                    },
                    "PermitNo": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "method": "POST"
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "sharepointonline": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', '')]",
                "connectionId": "",
                "connectionName": ""
              }
            }
          }
        }
      }
    }
  ],
  "outputs": {}
}