Crm/LicensingandPermitting/Defra.Lp/Azure/SharePointMetadataUpdate/LogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "sharepointonline_1_Connection_Name": {
      "type": "string",
      "defaultValue": "sharepointonline"
    },
    "sharepointonline_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "wastesysops@defradev.onmicrosoft.com"
    },
    "spoSiteName": {
      "type": "string",
      "metadata": {
        "description": "SharePoint Online site name"
      }
    },
    "spoPermitLibraryGuid": {
      "type": "string",
      "metadata": {
        "description": "SharePoint Online Permit Library Guid"
      }
    }
  },
  "variables": {
    "spo": {
      "getFileItems": "[concat('/datasets/@{encodeURIComponent(encodeURIComponent(''', parameters('spoSiteName'), '''))}', '/tables/@{encodeURIComponent(encodeURIComponent(''', parameters('spoPermitLibraryGuid'), '''))}', '/getfileitems')]",
      "updateMetaData": "[concat('/datasets/@{encodeURIComponent(encodeURIComponent(''', parameters('spoSiteName'), '''))}', '/tables/@{encodeURIComponent(encodeURIComponent(''', parameters('spoPermitLibraryGuid'), '''))}', '/items/@{encodeURIComponent(items(''For_each_item_in_Application_folder'')?[''ID''])}/patchfileitem')]",
      "updatePermitMetadata": "[concat('/datasets/@{encodeURIComponent(encodeURIComponent(''', parameters('spoSiteName'), '''))}', '/tables/@{encodeURIComponent(encodeURIComponent(''', parameters('spoPermitLibraryGuid'), '''))}', '/items/@{encodeURIComponent(items(''For_each'')?[''ID''])}/patchfileitem')]"
    }
  },
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Is_this_an_Application_folder": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "not": {
                      "equals": [
                        "@toUpper(triggerBody()?['UpdateType'])",
                        "PERMIT"
                      ]
                    }
                  }
                ]
              },
              "actions": {
                "Get_items_for_update_by_Application_ID": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                      }
                    },
                    "method": "get",
                    "path": "[variables('spo').getFileItems]",
                    "queries": {
                      "$filter": "Title eq '@{triggerBody()?['ApplicationNo']}'"
                    }
                  },
                  "runAfter": {}
                },
                "Response_-_Application": {
                  "type": "Response",
                  "kind": "http",
                  "inputs": {
                    "statusCode": 200,
                    "body": "@body('Get_items_for_update_by_Application_ID')?['value']"
                  },
                  "runAfter": {
                    "For_each_item_in_Application_folder": [
                      "Succeeded"
                    ]
                  }
                },
                "For_each_item_in_Application_folder": {
                  "type": "Foreach",
                  "foreach": "@body('Get_items_for_update_by_Application_ID')?['value']",
                  "actions": {
                    "Update_Application_metadata_for_this_item": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                          }
                        },
                        "method": "patch",
                        "body": {
                          "Application_x0020_ID": "@triggerBody()?['ApplicationNo']",
                          "Customer_x0020_Name": "@triggerBody()?['Customer']",
                          "Site": "@triggerBody()?['SiteDetails']",
                          "Regulated_x0020_Facilities": "@triggerBody()?['PermitDetails']",
                          "{ContentType}": {
                            "@@odata.type": "#Microsoft.Azure.Connectors.SharePoint.SPListExpandedContentType"
                          }
                        },
                        "path": "[variables('spo').updateMetaData]"
                      },
                      "runAfter": {}
                    }
                  },
                  "runAfter": {
                    "Get_items_for_update_by_Application_ID": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "runAfter": {},
              "else": {
                "actions": {
                  "Get_items_for_update_by_Permit_ID": {
                    "type": "ApiConnection",
                    "inputs": {
                      "host": {
                        "connection": {
                          "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                        }
                      },
                      "method": "get",
                      "path": "[variables('spo').getFileItems]",
                      "queries": {
                        "$filter": "Permit_x0020_ID eq '@{triggerBody()?['PermitNo']}' and Application_x0020_ID eq null"
                      }
                    },
                    "runAfter": {}
                  },
                  "For_each": {
                    "type": "Foreach",
                    "foreach": "@body('Get_items_for_update_by_Permit_ID')?['value']",
                    "actions": {
                      "Update_permit_metadata_for_this_item": {
                        "type": "ApiConnection",
                        "inputs": {
                          "host": {
                            "connection": {
                              "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                            }
                          },
                          "method": "patch",
                          "body": {
                            "Permit_x0020_ID": "@triggerBody()?['PermitNo']",
                            "Customer_x0020_Name": "@triggerBody()?['Customer']",
                            "Site": "@triggerBody()?['SiteDetails']",
                            "Regulated_x0020_Facilities": "@triggerBody()?['PermitDetails']",
                            "{ContentType}": {
                              "@@odata.type": "#Microsoft.Azure.Connectors.SharePoint.SPListExpandedContentType"
                            }
                          },
                          "path": "[variables('spo').updatePermitMetadata]"
                        },
                        "runAfter": {}
                      }
                    },
                    "runAfter": {
                      "Get_items_for_update_by_Permit_ID": [
                        "Succeeded"
                      ]
                    }
                  },
                  "Response_-_Permit": {
                    "type": "Response",
                    "kind": "http",
                    "inputs": {
                      "statusCode": 200,
                      "body": "@body('Get_items_for_update_by_Permit_ID')?['value']"
                    },
                    "runAfter": {
                      "For_each": [
                        "Succeeded"
                      ]
                    }
                  }
                }
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "properties": {
                    "ApplicationNo": {
                      "type": "string"
                    },
                    "ListName": {
                      "type": "string"
                    },
                    "PermitNo": {
                      "type": "string"
                    },
                    "SiteDetails": {
                      "type": "string"
                    },
                    "PermitDetails": {
                      "type": "string"
                    },
                    "Customer": {
                      "type": "string"
                    },
                    "UpdateType": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "method": "POST"
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "sharepointonline": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sharepointonline')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('sharepointonline_1_Connection_Name'))]",
                "connectionName": "[parameters('sharepointonline_1_Connection_Name')]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('sharepointonline_1_Connection_Name'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('sharepointonline_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sharepointonline')]"
        },
        "displayName": "[parameters('sharepointonline_1_Connection_DisplayName')]"
      }
    }
  ],
  "outputs": {}
}